
md-card md-card-content {
 padding-bottom: 0;

}

md-input-container {
  margin: 18px 50px 8px 0;
}



md-input-container._md-datepicker-has-calendar-icon {
  margin-left:-10px;
}

.tableDataField {
  width:80px;
}



.png-logo-icon{
    margin: 12px auto auto;
    padding: 0;
    display: inline-block;
    background-repeat: no-repeat no-repeat;
    pointer-events: none;
}

.material-icons.grey { color: grey }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }



/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
*/

/* Data Table */

md-toolbar.md-table-toolbar.alternate {
  color: #1e88e5;
  background-color: #e3f2fd;
}

md-toolbar.md-table-toolbar.alternate .md-toolbar-tools {
  font-size: 16px;
}

